// root
@import '~reset-css';
@import 'root/fonts.scss';
@import 'root/variables.scss';
@import 'root/mixins.scss';
@import 'root/grid.scss';
@import 'root/base.scss';
@import 'root/grid-overflow.scss';

// sections
@import 'sections/contact.scss';

// BEGIN test styles:

.container--sample {
  border: 2px dashed crimson;
  position: relative;

  &::before {
    content: '.container--sample';
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom: 100%;
  }

  hr {
    position: relative;

    &::before {
      content: '<hr />';
      background-color: greenyellow;
      position: absolute;
      left: 0;
      bottom: 100%;
    }
  }
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../assets/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  margin: 0 auto 10px;
  position: relative;
  outline: 1px dashed grey;

   &::before {
     content: '@/assets/logo.png';
     background-color: greenyellow;
     position: absolute;
     left: 100%;
     bottom: 45%;
   }
}

$border: 1px solid darkcyan;

.card {
  padding: 1rem;
  border-radius: 5px;
  border: $border;

  h2 {
    text-align: center;
    color: magenta;
  }
}

// END OF test styles