@import "~normalize.css";
@import "fonts.roboto.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px dashed crimson;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../assets/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  margin: 0 auto;
}